.results {
  max-width: 768px;
  margin: 0 auto;
}

.result {
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #fff;
  border-radius: 16px;
  transition: 0.4s;
  cursor: pointer;
}

.result:hover {
  box-shadow: 3px 3px 6px #00000020;
}

.result h3 {
  color: #888;
  font-size: 24px;
  margin-bottom: 16px;
}

.result p {
  color: #313131;
  font-size: 16px;
  margin-bottom: 16px;
}

.loadingImage {
  width: 65px;
  opacity: 0.5;
  margin: 60px 0 100px 0;
}