* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 300px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 100%;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
form{
    margin: 10px auto;
}
form input {
    width: 231px;
    height: 35px;
    font-size: 16px;
}
form button{
    width: 65px;
    height: 35px;
    border: none;
    font-size: 16px;
}